@import "tailwindcss";
@layer base {
    html.dark {
        color-scheme: dark;
    }
}

section {
    font-family:
        "JetBrains Mono",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}
