<footer class="mt-16 py-8 border-t border-slate-200 dark:border-slate-800">
  <div
    class="max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 text-center text-sm text-muted-light dark:text-muted-dark"
  >
    <p>© 2026 epadev. All rights reserved.</p>
  </div>
</footer>
