<nav class="sticky top-24">
    <h3 class="font-semibold text-sm uppercase tracking-wider mb-4">
        Categories
    </h3>
    <ul class="space-y-2 text-muted-light dark:text-muted-dark">
        <li>
            <a
                class="flex justify-between items-center hover:text-primary"
                href="#"><span>Blog</span><span class="text-xs">4</span></a>
        </li>
        <li>
            <a
                class="flex justify-between items-center hover:text-primary"
                href="#"
                ><span>Technology</span><span class="text-xs">4</span></a>
        </li>
        <li>
            <a
                class="flex justify-between items-center hover:text-primary"
                href="#"><span>Projects</span><span class="text-xs">1</span></a>
        </li>
    </ul>
</nav>
