---
import Navigation from "../components/layout/Navigation.astro";
import "../styles/global.css";
import Footer from "../components/layout/Footer.astro";

interface Props {
  description: string;
  title: string;
}
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- tip de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap"
      rel="stylesheet"
    />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body
    class="bg-background-light dark:bg-background-dark text-on-surface-light dark:text-on-surface-dark font-sans antialiased w-full"
  >
    <main class="justify-center items-center w-full">
      <Navigation />
      <slot />
    </main>
  </body>
  <Footer />
</html>
