---
import type { CodeLanguage } from "astro";
import { Code } from "astro:components";

interface Props {
  codigo: string;
  lenguaje: CodeLanguage | undefined;
  nombreFile: string;
}

const { codigo, lenguaje, nombreFile } = Astro.props;
---

<div
  class="my-10 font-mono text-sm not-prose rounded-lg overflow-hidden border border-gray-200 dark:border-gray-600 shadow-sm bg-gray-50 dark:bg-gray-800"
>
  <div
    class="bg-[#282A36] px-4 py-2 text-xs text-gray-300 border-b border-gray-200 dark:border-gray-600 flex justify-between"
  >
    <span>{nombreFile}</span>
    <span class="text-gray-300">[Read/Write]</span>
  </div>

  <div class="p-4 overflow-x-auto text-base bg-[#282A36]">
    <Code code={codigo} lang={lenguaje} theme="dracula" wrap={true} />
  </div>
</div>
